<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--데이터를 받아와 처리해주는 타임리프-->
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>

  .layout {
      width : 500px;
      margin : 0 auto;
      margin-top : 100px;
  }

</style>

<body>

    <div class="layout">
          <table>
            <thead>
              <tr>
                <th>글번호</th>
                <th>제목</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="board : ${list}">
                <td th:text="${board.id}">1</td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"> </a>
                </td>
              </tr>
            </tbody>
          </table>


        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <!-- searchKeyword라는 파라미터를 물고가기 때문에 페이지 넘겨도 그대로-->
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"> </strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name = "searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>

</body>
</html>